.navbar img{
	width: 405px;
	position: relative;
	top: -16px;
	left: -66px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.navbar{
	height: 60px;
}

.back{
	width: 100%;
	position: relative;
	bottom: 20px;
}

@media screen and (max-width: 500px) {
	.navbar img{
		width: 250px;
		position: relative;
		top: -18px;
		left: -23px;
		padding-bottom: 0px;
		margin-bottom: 0px;
	}
}
