.navbar img{
	width: 405px;
	position: relative;
	top: -36px;
	left: -46px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

@media screen and (max-width: 500px) {
	.navbar img{
		width: 250px;
		position: relative;
		top: -18px;
		left: -23px;
		padding-bottom: 0px;
		margin-bottom: 0px;
	}
}
